.auth-page-container {
  text-align: center;
  width: 40%;
  margin: auto;
}

.login-signup-text {
  margin: 1rem;
  color: gray;
}

.login-signup-text__link {
  text-decoration: underline;
}

.login-signup-text__link:hover {
  cursor: pointer;
  color: #3faa85;
  text-decoration: underline;
}

.signup-disclaimer-text {
  font-size: 0.6rem;
}

.auth-page__button {
  margin-top: 1rem;
}

@media screen and (max-width: 930px) {
  .auth-page-container {
    text-align: center;
    width: 80%;
    margin: auto;
  }
}
