@import "../../../index.css";

.product-details-container {
  width: 100%;
  display: flex;
  gap: 2.5rem;
  align-items: center;
  /* justify-content: center; */
}

.product-image-container {
  width: 45%;
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.product-image-container img {
  min-width: 100%;
  min-height: 100%;
  scale: 0.95;
  object-fit: cover;
}

.product-details {
  width: 40%;
}

.product-details .product-title {
  margin-bottom: 0.5rem;
  /* width: 15rem; */
}

.product-rating {
  margin-bottom: 1rem;
}

.product-price {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem !important;
}

.product-description {
  line-height: 1.7rem;
  margin-bottom: 1.5rem;
}

.product-checkout-container {
  display: flex;
  gap: 1rem;
}

.product-checkout-container input {
  border: 1.5px solid var(--light-gray);
  text-align: center;
  padding-right: 0.2rem;
  border-radius: 1.2rem;
  width: 4.5rem;
  margin-right: 0.5rem;
}

.product-free-shipping-txt {
  display: block;
  margin-top: 1rem;
  font-size: 0.8rem;
  color: #9f9f9f;
}

@media screen and (max-width: 850px) {
  .product-details-container {
    gap: 2rem;
    flex-direction: column;
    box-sizing: border-box;
  }

  .product-image-container {
    width: 100%;
  }

  .product-details {
    width: 100%;
  }
}
