.cart-items__body {
  height: 65%;
  overflow: scroll;
  scroll-behavior: smooth;
}

.cart-items__body > .cart-items__card {
  border-radius: 5rem;
  border-radius: 1.2rem;
  padding: 0;
  padding-right: 1rem;
  overflow: hidden;
  margin-bottom: 1.25rem;
}

.cart-items__image-container {
  min-height: 2rem;
}

.cart-items__details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem 0;
}

.cart-items__title {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.4rem;
}

.cart-items__price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-items__price {
  font-size: 0.9rem;
}

@media screen and (max-width: 480px) {
  .cart-items__body > .cart-items__card {
    padding-right: 1rem;
  }

  .cart-items__body {
    height: 70%;
  }

  .cart-items__title,
  .cart-items__price {
    font-size: 0.85rem;
    line-height: 1rem;
  }
  .cart-items__title {
    padding-right: 1.5rem;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.cart-items__body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.cart-items__body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
