.product-showcase-container {
  display: grid;
  height: 50%;
  width: 100%;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  grid-template-areas:
    "product-1 product-2 product-3"
    "product-1 product-2 product-4";
  text-align: center;
}

.product-showcase-container div {
  position: relative;
  box-sizing: border-box;
  border-radius: 1.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-showcase-container > div::before {
  content: ""; /* Generate a pseudo-element */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.1
  ); /* Adjust the color and opacity for the overlay */
  z-index: 1; /* Adjust the z-index to control the stacking order */
}

.product-showcase-container > div:hover::before {
  background-color: rgba(
    0,
    0,
    0,
    0.2
  ); /* Adjust the color and opacity for the overlay */
  transition: background-color 0.3s ease-in;
}

.product-showcase-container div img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.product-1 {
  background-color: cadetblue;
  grid-area: product-1;
}

.product-2 {
  background-color: slategray;
  grid-area: product-2;
}

.product-3 {
  background-color: chartreuse;
  grid-area: product-3;
}

.product-4 {
  background-color: rgb(0, 195, 255);
  grid-area: product-4;
}

@media screen and (max-width: 550px) {
  .product-showcase-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "product-1 product-2" "product-3 product-4";
  }
}
