.product-showcase-container {
  display: grid;
  height: 31rem;
  width: 100%;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 0.8rem;
  grid-template-areas:
    "product-1 product-2 product-3"
    "product-1 product-2 product-4";
  text-align: center;
}

.product-showcase-container div {
  position: relative;
  box-sizing: border-box;
  border-radius: 1.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-showcase-container > div::before {
  content: ""; /* Generate a pseudo-element */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  transition: all 0.4s ease-in-out;
}

.product-showcase-container > div:hover::before {
  background-color: rgba(0, 0, 0, 0.5);
}

.product-showcase-container > div:hover img {
  transform: translateZ(0) scale(1.08);
  transition: all 0.45s ease-in-out;
}

.product-showcase-container div img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  transition: all 0.4s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.product-1 {
  background-color: #e3e3e3;
  grid-area: product-1;
  position: relative;
}

.product-2 {
  background-color: #e3e3e3;
  grid-area: product-2;
  position: relative;
}

.product-3 {
  background-color: #e3e3e3;
  grid-area: product-3;
  position: relative;
}

.product-4 {
  background-color: #e3e3e3;
  grid-area: product-4;
  position: relative;
}

.product-showcase-container h3 {
  font-size: 1.8rem;
  font-weight: 300;
  text-align: left;
  color: white;
  position: absolute;
  bottom: 5%;
  left: 5%;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 550px) {
  .product-showcase-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "product-1 product-2" "product-3 product-4";
  }
}
